@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
body {
    color: #606c71;
    font-size:1em;
    line-height:1.5em;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#page-content-wrapper {
    margin: 0 auto;
    max-width: 1080px;
}

.masthead, #masthead, .help-page-header, h1{
	background-color: darkslategray;
	color: whitesmoke;
	display: block;
	font-size: 2em;
	font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
	 line-height: 2em;
	 margin: 1em 0em;
	 padding: 1em 0em;
	 text-align: center;
	 width: 100%;
}

.home-container {
	border-left-color: #ccc; border-left-style: solid; border-left-width: 1px; border-right-color: #ccc; border-right-style: solid; border-right-width: 1px; border-bottom-color: #ccc; border-bottom-width: 1px; border-bottom-style: solid; border-top-color: #ccc; border-top-style: solid; border-top-width: 1px; font-family: 'Trebuchet MS', 'Helvetica Neue', Helvetica, Arial, sans-serif; margin-bottom: 18px; margin-top: 18px; padding-bottom: 16px; padding-left: 0; padding-right: 0; width: 100%;
}

.page-header {
	font-family: 'Trebuchet MS', 'Helvetica Neue', Helvetica, Arial, sans-serif; padding-top: 20px;
}

.software-name, .software-versions, .software-notes{
  border-left: solid 2px;
  border-right: solid 2px;
  border-bottom: solid 2px;
  text-align: center;
}

.category {
  border: solid 2px;
}

.categoryname {
  padding-bottom: 0px;
}

.muted:hover{
  text-decoration:none;
}

h2 {
  margin: 2em 0em;
  color: #303A50;
  font-size: 2em;
}

h3 {
  margin: 1.62em 0em;
  color: #303A50;
  font-size: 1.62em;
}

h4 {
  margin: 1.5em 0em;
  color: #303A50;
  font-size: 1em;
}

details {
  margin: 0px 0px 35px 55px;
}

summary {
  margin-left:-20px;
  margin-bottom: 2em;
}

img {
  margin:1.5em auto;
  max-width:85%;
  display:block;
}

.inline {
  display:inline;
  margin:0px;
  width:auto;
}

p {
  margin: 1.5em 0em;
}

/*
ul ol {
  margin-left: 40px;
}
*/

code {
  font-size:1em;
  line-height:1.5em;
}

.main-content table {
    color: #333;
    background: white;
    border: 1px solid grey;
    font-size: 12pt;
    border-collapse: collapse;
}
.main-content thead th,
.main-content tfoot th {
    color: #777;
    background: rgba(0,0,0,.1);
}
.main-content th,
.main-content td {
    padding: .5em;
    border: 1px solid lightgrey;
}
a {
  text-decoration: none;
}

