@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

.dark {
  --primary-color: #8A9A9E;
  --body-background-color: #1E1E1E;
  --page-header-bg-color: #2C3A3D;
  --page-header-text-color: #E0E0E0;
  --header-text-color: #B0C1D4;
  --home-border-color: #444;
  --table-background-color: #1E1E1E;
  --table-border-color: #555;
  --table-color: #CCCCCC;
  --table-content-color: #999;  
  --table-selected-color: #333; 
}

.light {
  --primary-color: #606c71;
  --body-background-color: #f5f5f5;
  --page-header-bg-color: darkslategray;
  --page-header-text-color: whitesmoke;
  --header-text-color: #303A50;
  --home-border-color: #ccc;
  --table-background-color: white;
  --table-border-color: rgba(0, 0, 0, 0.175);
  --table-color: #333;
  --table-content-color: #777;
  --table-selected-color: #e8e8e8;
}

body {
    color: var(--primary-color);
    background-color: var(--body-background-color);
    font-size:1em;
    line-height:1.5em;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#page-content-wrapper {
    margin: 0 auto;
    max-width: 1080px;
}

.masthead, #masthead, .help-page-header, h1{
	background-color: var(--page-header-bg-color);
	color: var(--page-header-text-color);
	display: block;
	font-size: 2em;
	font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  line-height: 2em;
  margin: 1em 0em;
  padding: 1em 0em;
  text-align: center;
  width: 100%;
}

.home-container {
	border-left-color: var(--home-border-color); 
  border-left-style: solid; 
  border-left-width: 1px; 
  border-right-color: var(--home-border-color); 
  border-right-style: solid; 
  border-right-width: 1px; 
  border-bottom-color: var(--home-border-color); ; 
  border-bottom-width: 1px; 
  border-bottom-style: solid; 
  border-top-color: var(--home-border-color); ;
  border-top-style: solid; 
  border-top-width: 1px; 
  font-family: 'Trebuchet MS', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
  margin-bottom: 18px; 
  margin-top: 18px; 
  padding-bottom: 16px; 
  padding-left: 0; 
  padding-right: 0; 
  width: 100%;
}

.page-header {
	font-family: 'Trebuchet MS', 'Helvetica Neue', Helvetica, Arial, sans-serif; padding-top: 20px;
}

.software-name, .software-versions, .software-notes{
  border-left: solid 2px;
  border-right: solid 2px;
  border-bottom: solid 2px;
  text-align: center;
}

.category {
  border: solid 2px;
}

.categoryname {
  padding-bottom: 0px;
}

.muted:hover{
  text-decoration:none;
}

h2 {
  margin: 2em 0em;
  color: var(--header-text-color);
  font-size: 2em;
}

h3 {
  margin: 1.62em 0em;
  color: var(--header-text-color);
  font-size: 1.62em;
}

h4 {
  margin: 1.5em 0em;
  color: var(--header-text-color);
  font-size: 1em;
}

details {
  margin: 0px 0px 35px 55px;
}

summary {
  margin-left:-20px;
  margin-bottom: 2em;
}

img {
  margin:1.5em auto;
  max-width:85%;
  display:block;
}

.inline {
  display:inline;
  margin:0px;
  width:auto;
}

p {
  margin: 1.5em 0em;
}

/*
ul ol {
  margin-left: 40px;
}
*/

code {
  font-size:1em;
  line-height:1.5em;
}

.main-content table {
    color: var(--table-color);
    background: var(--table-background-color);
    border: 1px solid var(--table-border-color);
    font-size: 12pt;
    border-collapse: collapse;
}
.main-content thead th,
.main-content tfoot th {
    color: var(--table-content-color);
    background: rgba(0,0,0,.1);
}
.main-content th,
.main-content td {
    padding: .5em;
    border: 1px solid var(--table-border-color);
}
a {
  text-decoration: none;
}