<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/global.css" rel="stylesheet" media="screen">
  </head>
  <body>
<div id="page-content-wrapper">
    <div id="page-header">
        <ul class="nav nav-pills pull-right">
            <li><a href="https://www.mojang.com">Mojang.com</a></li>
            <li><a href="https://bugs.mojang.com/secure/Dashboard.jspa">Bug Tracker</a></li>
            <li><a href="http://help.minecraft.net/">Account Support</a></li>
        </ul>
        <h3 class="muted">{{ site.title | default: site.github.repository_name }}</h3>{{ site.description | default: site.github.project_tagline }}
    </div>
    <hr>
    <section class="main-content">
      {{ content }}
      <hr>
      <footer class="site-footer">
        <small><div style="text-align: center;"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by the community.</div>
        <div style="text-align: center;">Need more help? <a href="https://discord.gg/58Sxm23">Click
            here</a> to ask our volunteers!</div></small>
      </footer>
    </section>

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
