---
layout: default
---

<div class="single-page {{ page.extraclasses }}">
    {% unless page.hide_breadcrumbs == true %}
        {% capture url_parts %} {{ page.url | remove: "/index.html" | replace:'/', " " }}{% endcapture %}
        {% capture num_parts %}{{ url_parts | number_of_words | minus: 1 }}{% endcapture %}
        {% assign previous = "" %}
        <div class="row-fluid">
            <div class="span12">
                <ul class="breadcrumb well clearfix">
                    <nav aria-label="You are here:" role="navigation">
                        <ol class="breadcrumbs">
                        {% if num_parts == "-1" %}
                            <a href="/MinecraftHopper/help">Help</a> <span class="divider">/</span>
                        {% else %}
                            <a href="/MinecraftHopper/help">Help</a> <span class="divider">/</span>

                            {% for unused in site.breadcrumb_list limit:num_parts %}
                            {% capture first_word %}{{ url_parts | truncatewords:1 | remove:"..."}}{% endcapture %}
                            {% capture first_word_name %}{{ url_parts | truncatewords:1 | remove:"..." | replace: "-", " " }}{% endcapture %}
                            {% capture previous %}{{ previous }}/{{ first_word }}{% endcapture %}
                            <a href="{{ previous }}">{{ first_word_name }}</a>

                            {% capture url_parts %}{{ url_parts | remove_first:first_word }}{% endcapture %}
                            {% endfor %}
                            {{ page.title }}
                        {% endif %}
                        </ol>
                    </nav>
                </ul>
            </div>
        </div>
    {% endunless %}
    <div class="row">
    <div style="width: 85%;" class="offset1">
    {{ content }}
    </div>
    </div>
</div>